
.place{
    width: 322px;
    height: 315px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.string{

    width: 95%;

}
.header_calc{

    display: flex;

}
.countdown{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.inputs{
    
    display: flex;
    flex-direction: column;
    align-items: center;

}
.button{

    font-size: large;
    width: 80px;
    height: 50px;
    text-align: center;
    border: grey solid 1.5px;

}
.math{

    display: flex;
    flex-direction: column;
    text-align: center;

}
.flex_place{

    display: flex;

}
.head {

    width: 160px;

}
form{
    display: flex;
    justify-content: baseline;
    max-width: 100%;
    
}
input {
    width: 230px;
    height: 60px;
    border: grey solid 1px;
    font-size: 20px;
    text-align: right;
    font-family: "digital";
}
.journ{
    height: 100%;
}   
    

@font-face{
    font-family: digital;
    src:url("digital.ttf");
    font-style: normal;
    font-weight: normal;
}

#hidden{
    margin: 0 auto;
    width: 318px;
    height: 250px;
    font-family: "digital";
    border: grey solid 1px;
    background-color: #eff0f0;
    font-size: 20px;
    text-align: right;
    overflow-x: hidden;
    
}
.lcd{
    background-color: greenyellow;
    font-size: 45px;
   
}